<ul class="nav nav-stacked menu" id="sidebar">
    <li class="active" id="home">
        <a href="{{ path('spa_spa_admin') }}">Home</a></li>
    <li>
        <a href="#articles" class="list-group-item">Articles
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="articles">
            <a href="{{ path('spa_spa_admin_articles') }}" class="list-group-item">Créer un article<i class="fa fa-caret-down"></i></a>
            <a href="{{ path('spa_spa_admin_allarticles') }}" class="list-group-item">Modifier/Supprimer un article<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
    <li>
        <a href="#races" class="list-group-item">Races
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="races">
            <a href="{{ path('spa_spa_admin_races') }}" class="list-group-item">Créer une race<i class="fa fa-caret-down"></i></a>
            <a href="{{ path('spa_spa_admin_allraces') }}" class="list-group-item">Modifier/Supprimer une race<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
    <li>
        <a href="#tags" class="list-group-item">Tags
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="races">
            <a href="{{ path('spa_spa_admin_tags') }}" class="list-group-item">Créer un tag<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Modifier un tag<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Supprimer un tag<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
    <li>
        <a href="#pets" class="list-group-item">Animaux
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="pets">
            <a href="{{ path('spa_spa_admin_pets') }}" class="list-group-item">Créer une fiche d'un animal<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Modifier la fiche d'un animal<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Supprimer la fiche d'un animal<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
    <li>
        <a href="#staff" class="list-group-item">Personnel
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="staff">
            <a href="{{ path('spa_spa_admin_staff') }}" class="list-group-item">Créer une fiche d'une personne<i class="fa fa-caret-down"></i></a>
            <a href="{{ path('spa_spa_admin_allstaff')}}" class="list-group-item">Modifier la fiche d'une personne<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Supprimer la fiche d'une personne<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
</ul>