<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Administration - Modification d'un article</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% stylesheets '@SpaSpaBundle/Resources/views/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" >
        {% endstylesheets %}

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    </head>

    <body>      
        {% include "::navbarAdmin.html.twig" %}
        <div class="container theme-showcase" role="main">
            <form name="Staff" method="post" 
                  action="/spa33/web/app_dev.php/admin/save/staff" enctype="multipart/form-data">
                <input type="hidden" id="Staff_idstaff" name="Staff[idstaff]" class="form-control" value="{{staff.idstaff}}">
                <div class="form-group">
                    <label class="control-label required" for="Staff_firstname">Prénom</label>
                    <input type="text" id="Staff_firstname" name="Staff[firstname]" required="required" class="form-control" value="{{staff.firstname}}">
                </div>
                <div class="form-group">
                    <label class="control-label required" for="Staff_lastname">Nom</label>
                    <input type="text" id="Staff_lastname" name="Staff[lastname]" required="required" class="form-control" value="{{staff.lastname}}">
                </div>
                <div class="form-group">
                    <label class="control-label required" for="Staff_sex">Sexe</label>
                    <select id="Staff_sex" name="Staff[sex]" class="form-control">
                        {% if staff.sex == 0 %}
                            <option value="0" selected>Masculin</option>
                            <option value="1">Féminin</option>
                        {% else %}
                            <option value="0">Masculin</option>
                            <option value="1" selected>Féminin</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label required" for="Staff_role">Rôle au sein de l'association</label>
                    <input type="text" id="Staff_role" name="Staff[role]" required="required" class="form-control" value="{{staff.role}}">
                </div>
                <div class="form-group">
                    <label class="control-label required" for="Staff_file">Photo</label>
                    <span><br>Attention !! Veillez à remettre la même image si vous souhaitez conserver celle existante.</span>
                    <input type="file" id="Staff_file" name="Staff[file]" required="required"><br>
                    <img src={{img}} width="150" heigth="150">
                </div>
                <div class="form-group">
                    <button type="submit" id="Staff_save" name="Staff[save]" class="btn-default btn">Modifier</button>
                </div>
            </form>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </body>
</html>
