<!DOCTYPE html>
<html>
    <head>
        <title>Administration - Modification d'une race</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% stylesheets '@SpaSpaBundle/Resources/views/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" >
        {% endstylesheets %}

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    </head>

    <body>      
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('spa_spa_admin') }}">Administration</a> 
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('spa_spa_homepage') }}">Site</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('spa_spa_admin_articles') }}">Créer un article</a></li>	
                                <li><a href="{{ path('spa_spa_admin_allarticles') }}">Modifier/Supprimer un article</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Races<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('spa_spa_admin_races') }}">Créer une race</a></li>	
                                <li><a href="{{ path('spa_spa_admin_allraces') }}">Modifier/Supprimer une race</a></li>
                            </ul>
                        </li>

                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('spa_spa_admin_tags') }}">Créer un tag</a></li>	
                                <li><a href="{{ path('spa_spa_admin_alltags') }}">Modifier/Supprimer un tag</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animaux<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('spa_spa_admin_pets') }}">Créer une fiche d'un animal</a></li>	
                                <li><a href="{{ path('spa_spa_admin_allpets') }}">Modifier/Supprimer la fiche d'un animal</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personnel<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('spa_spa_admin_staff') }}">Créer une fiche d'une personne</a></li>	
                                <li><a href="{{ path('spa_spa_admin_allstaff') }}">Modifier/Supprimer la fiche d'une personne</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>        <div class="container theme-showcase" role="main">
            <form name="tags" method="post" action="/spa33/web/app_dev.php/admin/save/tags">
                <input type="hidden" id="Tags_idTags" name="Tags[idTags]" class="form-control" value="{{tag.idTags}}">
                <div class="form-group">
                    <label class="control-label required" for="tags_name">Intitulé du tag</label>
                    <input type="text" id="tags_name" name="Tags[name]" required="required" class="form-control" value="{{tag.name}}">
                </div>
                <div class="form-group">
                    <button type="submit" id="tags_save" name="Tags[save]" class="btn-default btn">Modifier</button>
                </div>
            </form>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </body>
</html>